<%= page_header(nil,@header) %>
<%= search_area(@searchable_columns) %>
<%= page_link(@objs) %>
<div ng-app="app" ng-controller='indexController' ng-init="initialize('<%= @objs.map{|x|x.id} %>')">
<div ng-if="ids.length<1" >
  <%= link_to_url(tt('select_for_actions'),'#') if @checkbox%>
</div>
<div ng-if="ids.length>0" >
  <% (@checkbox||[]).each do |link|%> 
  <a class="btn btn-primary" ng-click="<%=link[:call]%>">
  <%=tt(link[:label])%></a>
  <% end %>
</div>
<table class="table table-striped table-bordered table-condensed">
<thead><tr>
   <%if @checkbox %> 
   <td><input type='checkbox' ng-click='check_all()'></td> 
   <%end %> 
<% columns.each_with_index do |col,index| %>
  <th>
  <%= sort_col(sort_direction, sort_column, col,captions[index]) %>
  </th>     
<% end %>
<% if @act_links %>
<th width='140px'><%= tt('status') %></th>
<% end %>
</tr></thead>

<tbody>
<% if objs.size > 0 %>

  <% for obj in objs %>  
    <tr>
      <%if @checkbox %>     
      <td><input type="checkbox" checklist-model="ids" checklist-value="<%=obj.id%>"></td><%end %>   

  		<% columns.each_with_index do |col,index| %>   
        <% value =get_attr(obj,col) %>
        <td>
        <% if value.is_a?(Hash) %>
          <%= link_to_ns value[:label], value[:url] %>
        <% else %>          
  	 			<% if 0 == index %>
  	      	<%= link_to_ns value, obj %>
  				<% else %>  
  	      	<%= value %>
  				<% end %>
        <% end %>          
        </td>
			<% end %>  
      <% if @act_links %>
      <td><%= link_to_label_url(@act_links[obj.id]) %></td> 
      <% else %>            
      <!--td><%= edit_delete(obj.id) %></td-->  
      <% end %>       			 				 	
    </tr>
  <% end %>
<% else %>
    <tr><td colspan='10'><%= tt('empty') %></td></tr>
<% end %>
</tbody></table>
</div><%#=ng-app="app" %>
